.ia-player {
    background-color: black;
    position: relative;
    text-align: center;
}

.ia-monitor {
    display: none;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.ia-monitor-current {
    display: block;
}

.ia-controller {
    background-color: black;
    bottom: 0;
    box-sizing: border-box;
    height: 30px;
    opacity: 0.7;
    padding: 3px;
    position: absolute;
    text-align: left;
    width: 100%;
}

.ia-play-btn {
    background: none;
    border: none;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 24px;
}

.ia-play-btn:before {
    display: block;
    height: 24px;
    width: 24px;
}

.ia-play:before {
    content: url("./images/PlayButton.png");
}

.ia-pause:before {
    content: url("./images/PauseButton.png");
}